.transform, .stand-out{
  text-align: center;
  height: 30rem;
  padding: 0 2rem;
  h3{
    text-align: center;
    font-size: 2.3rem;
    font-family: "Fraunces";
    margin-top: 3rem;
    width: 70%;
    margin: 3.4rem auto 2rem;
    // border: dotted;


  }
  p{
    font-size: 1.5rem;
    color: gray;
  }

  .cta{
    margin-top: 2rem;
    display:inline-block;
    font-family: "Fraunces";
    font-size: 2rem;
    border-bottom: solid yellow 10px ;
    vertical-align:text-bottom;
    line-height: .6;
  }
}

