.transform, .stand-out{
  text-align: center;
  height: 30rem;
  padding: 0 2rem;
  h3{
    text-align: center;
    font-size: 2.3rem;
    font-family: "Fraunces";
    margin-top: 3rem;
    width: 70%;
    margin: 3.4rem auto 2rem;
    // border: dotted;


  }
  p{
    font-size: 1.5rem;
    color: gray;
  }

  .cta{
    margin-top: 2rem;
    display:inline-block;
    font-family: "Fraunces";
    font-size: 2rem;
    border-bottom: solid yellow 10px ;
    vertical-align:text-bottom;
    line-height: .6;
  }
}

@media screen and (min-width: 46rem ) {
  .learn{
    // border: dotted;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;

  img{
    display: block;
  }  
  .transform{
    order: -1;
  }
  .transform, .stand-out{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    h3{
      margin-top: 1rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    text-align: left;
    margin-left: 0;

    }
    p{
      font-size: 1rem;
      margin-bottom: 0;
    text-align: left;
    margin-left: 0;

    }
    .cta{
      margin-top: .7rem;
     font-size: 1.4rem;
    text-align: left;
    margin-left: 0;

    }
  }

  }
}
